.ContactForm {
  margin-top: 20px;
}
.ContactLabel {
  display: flex;
  flex-direction: column;
  /* padding-left: 10px; */
  margin-bottom: 20px;
}
.ContactInput {
  display: flex;
  width: 300px;
  /* margin-left: 10px; */
}
.ContactBtn {
  display: block;
  /* margin-left: 40px; */
}

/* 
display: flex;
flex-direction: column;
margin-bottom: 15px; */
